
<nav class="navbar navbar-expand-lg navbar-light bg-light demo">

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto main">
        <a class="nav-link" [routerLink]="['create']" routerLinkActive="active-link">Create</a>
        <a class="nav-link" [routerLink]="['list']" routerLinkActive="active-link">List</a>
        <a class="nav-link" [routerLink]="['view']" routerLinkActive="active-link">View</a>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>