
<table class="table table-striped">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Contact</th>
            <th>Emergency Contact</th>
            <th>Email</th>
            <th>Designation</th>
            <th>Marital Status</th>
            <th>BloodGroup</th>
            <th>Reporting_to</th>
            <th>Work Location</th>
            <th>LinkedinLink</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of employeeArray">
            <td>{{item.full_name}}</td>
            <td>{{item.contact_number}}</td>
            <td>{{item.emergency_contact_number}}</td>
            <td>{{item.email}}</td>
            <td>{{item.position}}</td>
            <td>{{item.marital_status}}</td>
            <td>{{item.blood_group}}</td>
            <td>{{item.reporting_to}}</td>
            <td>{{item.work_location}}</td>
            <td>{{item.linkedin_link}}</td>
            
           
        </tr>
                
    </tbody>
</table>
